.AppGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    align-items: flex-start;
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
    /* display: grid; */
    gap: 2rem;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}