
.AppCard{
    justify-self: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: max-content;
    display: flex;
    flex-shrink:initial;
    flex-flow: column;
    border-radius: 1rem;
}
.AppBackground{
    border-radius: 1rem;
    backdrop-filter: blur(100%);
}

.AppLink:visited{
    text-decoration: none;
}