
.AppCard{
    align-items: center;
    align-content: center;
    border-radius: 10%;
    background-color: transparent;
    text-align: center;
    /* box-shadow: 0.1rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2),
    -0.1rem 0.2rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2); */
    position: relative;
}
.AppCard:hover{
    box-shadow: 0.1rem 0.5rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2),
    -0.1rem 0.5rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.AppBackground{
    border-radius: 1rem;
    backdrop-filter: blur(100%);
}

.AppLink:visited{
    text-decoration: none;
}