html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family:Grotesk, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}


a {
  color: inherit;
}

@font-face {
  font-family: Grotesk;
  src: url('../public/fonts/source/web/ApfelGrotezk-Regular.woff2');
}