.main {
    display: flex;
    justify-content: center;
}

.background {
    position: absolute;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainStack {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    width: 60%;
    height: fit-content;
    flex-flow: row;
    align-content: center;
    background-color: #212121;
    gap: 3em;
    border: solid;
    border-color: #e8d4e5;
    border-radius: 1rem;
    border-width: 0.25em;
    z-index: 1;
    padding: 2em;


}

.Container {
    backdrop-filter: blur(10px);
}

.gallery {
    position: relative;
    margin: auto;
    border-color: #e8d4e5;
    box-shadow: -0.3rem 0.3rem 0.3em #e8d4e5;
    display: block;
    clip-path: fill-box;
    width: 40vw;
    height: 60vh;
    overflow: auto;
    object-fit: cover;
    border: solid;
    border-color: transparent;
    border-width: 0.1em;
    border-radius: 1rem;
}

.sidebar {
    color: inherit;

}

.sidebar a {
    text-decoration: none;
}

.sidebar ul {    list-style-type: none;
    font-size: 1.5em;
    line-height: 1.5em;
    gap: 1em;
}