.main {
    display: flex;
    justify-content: center;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Full height */
    object-fit: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    backdrop-filter: blur(10px);

}
.SplineBackground {
    width: 100%;
    position: absolute;
    /* Full height */
    /* Center and scale the image nicely */
    z-index: 0;

}
.mainStack {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    width: 60%;
    height: fit-content;
    flex-flow: row;
    align-content: center;
    background-color: #212121;
    gap: 3em;
    border: solid;
    border-color: #e8d4e5;
    border-radius: 1rem;
    border-width: 0.25em;
    z-index: 1;
    padding: 2em;


}

.blurLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Full height */
    object-fit: cover;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    z-index: -1;
}


.gallery{
    display: blo;
    height: 20rem;
    width:50%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 1rem;
}
.galleryImage{
    height: 100%;
    border-radius: 1rem;
}
.galleryImageWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: transparent;
}